<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>문서</title>
</head>

<body class="index_html" oncontextmenu="return false">

  <div class="nav_bar">
    <a href="/">
      <li class="bar_content">글 목록</li>
    </a>
    <a href="/write">
      <li class="bar_content">작성하기</li>
    </a>
  </div>

  <script>
    function go() {
      location.href = '/editordelete';
    }

    function doNotReload() {
      if ((event.ctrlKey == true && (event.keyCode == 78 || event.keyCode == 82)) || (event.keyCode == 116)) {
        event.keyCode = 0;
        event.cancelBubble = true;
        event.returnValue = false;
      }
    }
    document.onkeydown = doNotReload;
    doNotReload();
  </script>

  <div class="complete">
    <h2>작성한 글을 수정 또는 삭제하시겠습니까?</h2>
    <br>
    <div class="desc">
      삭제 대상 게시글:
      <br>
      <span class="gray">

      </span>
      <br><br>
      글을 삭제하실 경우 데이터 복원은 불가능하며, 
      <br>
      모든 댓글과 작성 자료가 서버에서 영구히 사라지게 됩니다.
      <br>
      <input type="password" class="pw_" maxlength="6">
      <br>
      본 게시물 작성시 사용한 비밀번호를 위 칸에 입력하신 후,
      <br>
      아래 메뉴에서 원하는 것을 골라주세요.
      <br>
      <button data-id="<%= posts[is]._id %>" class="form_submit edit_btn" >수정</button>
      <button data-id="<%= posts[is]._id %>" class="form_submit del_btn" >삭제</button>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
  <script>

    $('.del_btn').click(function (event_) {
      var 글번호 = event_.target.dataset.id;
      var 지금누른거 = $(this);

      $.ajax({
        method: 'DELETE',
        url: '/editordelete',
        data: {
          _id: 글번호
        },
      }).done(function () {

      }).fail(function () {

      })
    });

  </script>

</body>

<style>
  @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

  body {
    margin: 0px;
    font-size: 18px;
    font-family: 'NanumSquare', sans-serif;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  input,
  textarea {
    transition-duration: 0.3s;
  }

  input:focus,
  textarea:focus {
    outline: none;
    transition-duration: 0.3s;
    border: 1px solid blue;
  }

  button:focus {
    outline: none;
  }

  textarea {
    resize: none;
    font-family: 'NanumSquare', sans-serif;
  }

  .gray {
    color: rgb(185, 185, 185);
  }

  .pw_ {
    border: none;
    border: 1px solid gray;
    width: 200px;
    padding: 10px;
    font-size: 18px;
    margin: 20px;
    margin-left: 0px;
  }

  .desc {
    line-height: 50px;
  }

  .complete {
    margin-top: 40px;
    width: 460px;
    text-align: left;
    display: inline-block;
    margin-top: 100px;
  }

  .index_html {
    text-align: center;
  }

  .nav_bar {
    width: 100%;
    background-color: rgb(220, 220, 220);
    text-align: center;
    border-bottom: 2px solid rgb(4, 71, 255);
    position: fixed;
    top: 0px;
  }

  .bar_content {
    transition-duration: 0.4s;
    display: inline-block;
    width: 100px;
    padding: 12px;
    margin: 5px;
    text-align: center;
    color: rgb(100, 100, 100);
    border-radius: 10px;
  }

  .bar_content:hover {
    background-color: rgb(180, 180, 180);
  }

  .form_box_first {
    width: 262px;
    display: inline-block;
    text-align: left;
  }

  .form_box_second {
    width: 262px;
    display: inline-block;
    text-align: right;
  }

  .form_send {
    margin-top: 50px;
    width: 530px;
    display: inline-block;
  }

  .form_label {
    display: inline-block;
    text-align: left;
    width: 249px;
  }

  .form_label_textarea {
    display: inline-block;
    text-align: left;
    width: 520px;
  }

  .form_input {
    width: 220px;
    padding: 13.5px;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 12.5px;
    font-size: 17px;
    color: rgb(80, 80, 80);
  }

  .form_input_textarea {
    width: 500px;
    padding: 13.5px;
    height: 350px;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 12.5px;
    font-size: 17px;
    color: rgb(80, 80, 80);
    line-height: 30px;
  }

  .form_submit {
    margin-top: 25px;
    width: 90px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(4, 71, 255);
    color: white;
    border: 1px solid rgb(4, 71, 255);
    border-radius: 7.5px;
  }

  input[type=password] {
    letter-spacing: 8.5px;
  }
</style>

</html>