<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MBTIBOOK | MBTI 커뮤니티</title>
  <meta name="description" content="MBTIBOOK은 모든 사람들이 MBTI를 통해 소통할 수 있는 세상을 꿈꿉니다.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<body class="index_html">

  <div class="nav_bar">
    <a href="/menu">
      <li class="bar_content">메뉴</li>
    </a>
    <a href="/write">
      <li class="bar_content">작성하기</li>
    </a>
    <a href="/check">
      <li class="bar_content">검사하기</li>
    </a>
  </div>

  <li class="tops__">
    <span class="orange orange2">
      커뮤니티 관리자
    </span>
  </li>

  <li class="bordersf">
    <span class="grayi">
      10월 9일 21시 58분에 등록
    </span>
  </li>

  <h1 class="top_list">
    MBTI 커뮤니티 이용 안내
  </h1>

  <textarea class="addr" readonly>MBTI 커뮤니티를 이용해주셔서 감사합니다!
그런데 만약에 아래처럼 글 쓰면 제가 가차없이 바로 그 자리에서 삭제해드림.

1. 잔임함, 선정성, 심각한 욕설, 특정 대상이나 인물을 비하하는 내용이나 용어, 사회적 이슈에 관한 과도한 개인적, 정치적 견해 등이 포함된 게시물
2. 반복적으로 업로드된 게시물로, 도배의 우려가 있다고 판단되는 게시물

다른 건 관리자가 임의로 삭제 안 해요 :)
아래는 2021년 10월 9일 이후로 천천히 추가될 기능들입니다! 

1. 게시물 수정하기, 게시물 링크 복사하기
2. 게시물에 댓글 달기, 댓글 수정하기
3. 로그인 기능
4. 게시물 및 댓글 조회수 확인하기 및 좋아요 누르기
5. 로그인한 유저를 대상으로 한 MBTI 검사 그래프
6. 로그인한 유저를 대상으로 한 게시물 저장 기능
7. 사진 및 동영상 업로드

또한 iOS, iPadOS, macOS에서 게시물이 삭제되지 않는 현상이 발생하고 있어요.
애플 특징인지; 뭔가를 수정해야 하나봅니다.

(아이폰 쓰는데 만약 글 쓴 거 삭제하고 싶으시면 바로 개발자한테 인스타그램으로 디엠 주세요 알아서 삭제해드림 ㅎㅎ @915ramlee)

할 게 많은데 굉장히 번거로우니까 시험 끝나면 하겠습니다.

그럼 재밌게 써 주시고 안녕!







  </textarea>
    
  <br><br><br>
  <button class="od" onclick="javascript:history.back();"> ⇦ </button>

  </div>

  <br>

  </div>

  <div id="footer">
    Developer: LEE HARAM / Contant: slyram06@icloud.com
  </div>

  <style>
    #footer {
      margin-top: 100px;
      margin-bottom: 100px;
      width: 100%;
      font-size: 16px;
      color: rgb(160, 160, 160);
      display: inline-block;
    }
  </style>

</body>

<style>
  @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

  .black {
    color: black;
    font-weight: 600;
  }

  .orange {
    font-weight: 600;
    color: rgb(4, 71, 255);
    text-align: left;
  }

  .orange2 {
    font-weight: 600;
    color: rgb(167, 0, 0);
    text-align: left;
  }

  .gray {
    color: rgb(180, 180, 180);
    font-weight: 600;
  }

  .grayi {
    color: rgb(180, 180, 180);
  }

  .tops__ {
    margin-top: 120px;
  }

  .af {
    margin-top: 32px;
    font-size: 120%;
    font-weight: 600;
  }

  .addr {
    background-color: rgb(240, 240, 240);
    text-align: left;
    font-family: 'NanumSquare', sans-serif;
    font-size: 17.5px;
    width: 620px;
    margin-top: 45px;
    padding: none;
    border: none;
    overflow: hidden;
    line-height: 30px;
    resize: none;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
    border: 1px solid gray;
    height: 1000px;
  }


  textarea:focus {
    outline: none;
  }

  body {
    margin: 0px;
    font-size: 18px;
    font-family: 'NanumSquare', sans-serif;
    margin-bottom: 100px;
  }

  li {
    list-style: none;
    margin: 20px;
  }

  a {
    text-decoration: none;
  }

  .bordersf {
    padding-bottom: 24px;
  }

  .ud {
    transition-duration: 0.2s;
    padding: 10px;
    border: none;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(4, 71, 255);
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .od {
    transition-duration: 0.2s;
    padding: 10px;
    padding-left: 9px;
    padding-right: 11px;
    border: none;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(4, 71, 255);
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;

    position: relative;
    font-weight: 600;
  }

  .ud:hover {
    transition-duration: 0.2s;
    background-color: rgba(4, 71, 255, 0.8);
    border: 1px solid rgba(4, 71, 255, 0.8);
    color: white;
  }

  .lists {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    width: 500px;
    line-height: 35px;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    text-align: center;
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
    padding-bottom: 0px;
  }

  .gray {
    color: rgb(200, 200, 200);
  }

  .mid_list {
    margin-top: 50px;
  }

  .top_list {}

  .index_html {
    text-align: center;
  }

  .nav_bar {
    width: 100%;
    background-color: rgb(220, 220, 220);
    text-align: center;
    border-bottom: 2px solid rgb(4, 71, 255);
    position: fixed;
    top: 0px;
  }

  .bar_content {
    transition-duration: 0.4s;
    display: inline-block;
    width: 100px;
    padding: 12px;
    margin: 5px;
    text-align: center;
    color: rgb(100, 100, 100);
    border-radius: 10px;
  }

  .bar_content:hover {
    background-color: rgb(180, 180, 180);
  }

  @media (max-width:850px) {
    .nav_bar {
      font-size: 16px;
    }

    .top_list {
      line-height: 55px;
      margin: 18px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .bar_content {
      transition-duration: 0.4s;
      display: inline-block;
      width: 75px;
    }

    .addr {
      width: 320px;
      padding: 15px;
      font-size: 15px;
    }
  }
</style>

</html>